*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    align-items: center;
}

table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 10%;
    border-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 5px 5px 20px rgb(70, 70, 70);
}

table th, table td{
    padding: 12px 15px;
    color: black;
    font-size: 1.3rem;
    text-align: center;
}

table th{
    padding: 12px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    font-size: 1.3rem;
    text-align: center;
}

.delete a{
    color: red;
    text-decoration: none;
}